.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.container-sm{
    width: 100%;
    max-width: 640px;
    margin: 0 auto;
}

.admin-layout{
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: 100%;
}